<div id="header-wrapper" class=".container-fluid">
    <div id="nav-wrapper" class=".container-fluid">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a id="mainPage" class="nav-link" href="/">{{appInfo.pageOneBtn}}<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a id="analiseBase" class="nav-link" href="/analiseBase">{{appInfo.analiseBase}}</a>
                    </li>
                    <li class="nav-item">
                        <a id="relProtAbertos" class="nav-link" href="/relProtAbertos">{{appInfo.pageTwoBtn}}</a>
                    </li>
                    <li class="nav-item">
                        <a id="regerarProt" class="nav-link" href="/regerarProt">{{appInfo.pageThreeBtn}}</a>
                    </li>
                    <li class="nav-item">
                        <a id="confAnteriores" class="nav-link" href="/confAnteriores">{{appInfo.pageFourBtn}}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
        <div id="content-wrapper" class="d-flex .flew-row align-items-end">
            <div id="container-left" class="p-2" style="background-image: url(/img/logoBB.png);"></div>
            <div id="container-right" class="p-2"></div>
                <div id="text-wrapper" class="flex-column" style="margin-top: 10px;">
                    <div id="bb-wrapper" class="p-2 textBB">
                        <h1 >{{appInfo.headerBanco}}</h1>
                    </div>
                    <div id="gecor-wrapper" class="p-2 textBB">
                        <h6>{{appInfo.headerPrefixo}}</h6>
                    </div>
                </div>
        </div>
            <div id="page-title-wrapper" class=".container-fuid">
                <h2 class="h2 align-middle">{{title}}</h2>
            </div>
</div>
<script src="/js/header.js"></script>